.team-holder .team-member {
    width: calc(20% - 4px);
    display: inline-block;
}
.small {
    font-size: 12px;
    line-height: 21px;
    height: 147px;
    overflow: hidden;
}

img[alt=drawing] { width: 200px; }


@media only screen and (max-width: 768px) {
    .team-holder .team-member {
        width: 100%;
        display: block;
        text-align: center;
        margin-bottom: 20px;
    }
    .team-holder .team-member img {
        width: 40%;
    }
    .hidden-mobile {
        display: none;
    }
}
